alias v='vim'
alias f='rg --files | rg'
alias gno='git status -uno'

alias myip="dig +short myip.opendns.com @resolver1.opendns.com"

alias epochms="date +%s%N | cut -b1-13"
alias isodate="date -u +"%Y-%m-%dT%H:%M:%SZ""
alias uuid4="python -c 'from uuid import uuid4; print(uuid4())'"
