[gc]
    auto = 0

[core]
    excludesfile = ~/.gitignore_global

[include]
    path = ~/.gitconfig.local

[alias]
    mycommits = "!me=$(git config --get user.name); \
                 git log --author=\"$me\" --pretty=format:\"%h : %s\""
    ca = commit -a
    co = checkout
    st = status
    br = branch
    ln = log --pretty=format:\"%C(auto)%h%C(reset) | %C(blue)%ad%C(reset) | %C(green)%an%C(reset) | %s%C(auto)%d%C(reset)\"
    hist = log --pretty=format:\"%C(auto)%h%C(reset) %ad | %s%C(auto)%d%C(reset) [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    aliases = config --get-regexp alias
    dl = diff -w HEAD^ HEAD
    dc = diff --cached
    pp = push -u --force-with-lease

[branch]
    autosetuprebase = always

[push]
    default = current
    followTags = true

[stash]
    showPatch = true

[url "git@github.com:"]
    insteadOf = https://github.com/
