[gc]
    auto = 0

[core]
    editor = vim
    excludesfile = ~/.gitignore_global

[include]
    path = ~/.gitconfig.local

[alias]
    mycommits = "!me=$(git config --get user.name); \
                 git log --author=\"$me\" --pretty=format:\"%h : %s\""
    ca = commit -a
    co = checkout
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    aliases = config --get-regexp alias
    dl = diff -w HEAD^ HEAD
    pp = push -u --force-with-lease

[branch]
    autosetuprebase = always

[push]
    default = current
    followTags = true

[stash]
    showPatch = true
