# Get editor completions based on the config schema
'$schema' = 'https://starship.rs/config-schema.json'

format = """
$username\
$hostname\
$localip\
$shlvl\
$kubernetes\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$package\
$container\
$elixir\
$erlang\
$golang\
$java\
$lua\
$nodejs\
$python\
$ruby\
$rust\
$env_var\
$custom\
$sudo\
$cmd_duration\
$jobs \
$line_break\
$battery\
$status\
$shell\
$character\
"""

add_newline = true

#
# Colors
#

palette = "rose-pine"

[palettes.auto]
overlay = '#f2e9e1'
love = '#b4637a'
gold = '#ea9d34'
rose = '#d7827e'
pine = '#286983'
foam = '#56949f'
iris = '#907aa9'

[palettes.rose-pine-dawn]
overlay = '#f2e9e1'
love = '#b4637a'
gold = '#ea9d34'
rose = '#d7827e'
pine = '#286983'
foam = '#56949f'
iris = '#907aa9'

[palettes.rose-pine]
overlay = '#26233a'
love = '#eb6f92'
gold = '#f6c177'
rose = '#ebbcba'
pine = '#31748f'
foam = '#9ccfd8'
iris = '#c4a7e7'

#
# Formatting
#

[directory]
format = "[](fg:overlay)[ $path ]($style)[](fg:overlay) "
style = "bg:overlay fg:foam"
truncation_length = 2
truncation_symbol = "…/"

[git_branch]
format = "[](fg:overlay)[ $symbol $branch ]($style)[](fg:overlay) "
style = "bg:overlay fg:foam"
symbol = ""

[git_status]
disabled = false
style = "bg:overlay fg:love"
format = '[](fg:overlay)([$conflicted$deleted$renamed$modified$staged$untracked$ahead_behind]($style))[](fg:overlay) '
up_to_date = '[ ✓ ](bg:overlay fg:iris)'
untracked = '[?\($count\)](bg:overlay fg:gold)'
stashed = '[\$](bg:overlay fg:iris)'
modified = '[!\($count\)](bg:overlay fg:gold)'
renamed = '[»\($count\)](bg:overlay fg:iris)'
deleted = '[✘\($count\)](style)'
staged = '[++\($count\)](bg:overlay fg:gold)'
ahead = '[⇡\(${count}\)](bg:overlay fg:foam)'
diverged = '⇕[\[](bg:overlay fg:iris)[⇡\(${ahead_count}\)](bg:overlay fg:foam)[⇣\(${behind_count}\)](bg:overlay fg:rose)[\]](bg:overlay fg:iris)'
behind = '[⇣\(${count}\)](bg:overlay fg:rose)'

[cmd_duration]
show_milliseconds = true
format = '[\($duration\)]($style) '
style = 'fg:foam'

[jobs]
number_threshold = 1
format = '[\($number job\(s\)\)]($style)'
style = 'fg:foam'

[character]
success_symbol = '[\$](fg:foam)'
error_symbol = '[\$](fg:foam)'
vicmd_symbol = '[\$](fg:foam)'

#
# Language-specific settings
#

[deno]
format = '[$symbol($version)]($style) '

[elixir]
format = '[$symbol($version \(OTP $otp_version\))]($style) '

[elm]
format = '[$symbol($version)]($style) '

[erlang]
format = '[$symbol($version)]($style) '

[golang]
format = '[$symbol($version)]($style) '

[java]
format = '[$symbol($version)]($style) '

[kubernetes]
format = '[$symbol$context( \($namespace\))]($style) '

[lua]
format = '[$symbol($version)]($style) '

[nodejs]
format = '[$symbol($version)]($style) '

[python]
format = '[${symbol}${pyenv_prefix}(${version})(\($virtualenv\))]($style) '

[ruby]
format = '[$symbol($version)]($style) '

[rust]
format = '[$symbol($version)]($style) '
